/* .Container_ShowVideoGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.Container_ShowVideoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Responsive adjustments for mobile devices */
  @media (max-width: 768px) {
    .Container_ShowVideoGrid {
      flex-direction: column;
      align-items: center;
    }
    }  